@using SocialNetwork.WEB.Models.LoggedModel
@model UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>User's Friends</h2>
@helper ListFriends(IEnumerable<UserViewModel> friends, string nameForRadioButton)
{
    foreach (var friend in friends)
    {
        <div>
            <input type="radio" name=@nameForRadioButton value=@friend.Id>
            @Html.ActionLink(friend.FirstName + " (" + friend.Email + ")",
                "ShowFriend", routeValues: new {id = friend.Id})
        </div>
    }
}

<div>
    
    <div>
        <div class="list-group">
            @using (Html.BeginForm("RemoveFriend", "Friend", FormMethod.Post))
            {
                @ListFriends(ViewBag.UserFriends, "userFriends")
                <input type="submit" value="Remove Friend"/>
            }
        </div>
    </div>

    <div>
        <div class="list-group">
            @using (Html.BeginForm("AddFriend", "Friend", FormMethod.Post))
            {
                @ListFriends(ViewBag.UserPotentialFriends, "userPotentialFriends")
                <input type="submit" value="Add Friend"/>
            }
        </div>
    </div>

</div>

