@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        <li>@Html.ActionLink("Moderating messages", "Index", "Moderation")</li>
        <li>@Html.ActionLink("Manage users", "Index", "Admin")</li>
    }

    if (User.IsInRole("Moderator"))
    {
        <li>@Html.ActionLink("Moderating messages", "Index", "Moderation")</li>
    }
}
